@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito:#3089f7;
}

body{
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.infos{
    margin: 0 6em;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;

}
.imagem-combo{
    margin: 1em 0 2em 0;
}
.Assine-Valor{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}
.Botao-secundario{
    background-color: transparent ;
    border: 2px solid var(--branco-principal);
}
.aviso{
    font-size:12px ;
    color:var(--cinza-secundario);
}
.plataformas{
    align-items: center;
    margin: 0 10em;
}
.imagem-plataformas{
    width: 80%;
}
.descricao-titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;;
}
.descricao{
    padding: 2em;
}
.descricao-texto{
    color:var(--cinza-secundario);
}
.Botao-telas{
    display: inline-block;
    margin-top: 16px;
}
.dispositivos-disponíveis{
    text-align: center;
}
.dispositivos-titulos{
    font-size: 48px;
    font-weight: 700;
}
.dispositivos-lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em 0;
}
.lista-item{
    font-size: 32px;
    font-weight: 700;
}

.rodape{
    text-align: center;
}
.rodape-lista{
    display: flex;
    justify-content: center;
    margin: 40px 0 24px 0;
}
.alura-logo{
    width: 76px;
}
.lista-link{
    margin-right:1em;
}
.lista-link a{
    text-decoration: none;
    color: var(--branco-principal);
}
.lista-link a:hover{
    font-weight: bold;
}
.lista-link a:active{
    color:var(--botao-azul);
}
.rodape-texto{
    font-size: 14px;
    color: var(--cinza-secundario);
    padding: 1rem;
}
.rodape-margin{
    display: flex;
    flex-wrap: wrap;
    margin: 0 9em;
    margin-bottom: 5em;
}
.botao-azul:hover{
    background-color: var(--botao-azul-efeito);
    color: black;
}
.Botao-secundario:hover{
    font-weight: bold;
}